.showMidPage {
  width: 80%;
  max-width: 1180px;
  min-width: 750px;
  display: flex;
  flex-direction: column;
  background: white;
  // height:1400px;
}

.songBanner {
  width: 100%;
  height: 380px;
  background-image: linear-gradient(to bottom right, #f9f9f9, #7c7c7c);
  display: flex;
  justify-content: space-between;
}
.albumArtLarge {
  margin: 20px 20px 20px 20px;
  height: 340px;
  width: 340px;
}

.fas {
  font-size: 60px;
  color: rgb(175, 116, 202);
}

.bannerLeft {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.showTitles {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 75px;
}

.showArtist {
  // height: 20px;
  display: flex;
  align-items: center;
  font-size: 15px;
  background-color: rgb(70, 70, 70);
  color: rgb(231, 231, 231);
  margin-bottom: 5px;
  padding: 1px 2px 0px 2px;
  text-decoration: none;
}

.showTrack {
  // height: 35px;
  padding: 2px 2px 2px 2px;
  display: flex;
  align-items: center;
  font-size: 25px;
  background-color: rgb(70, 70, 70);
  color: white;
}

.albumArtBackground {
  width: 100%;
  height: 100%;
}

.showMidPage {
  width: 80%;
  max-width: 1180px;
  min-width: 750px;
  display: flex;
  flex-direction: column;
  background: white;
  // height:1400px;
}

.showFlexing {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
}

.albumShowMidLeft {
  display: flex;
  flex-direction: column; 
  height: 100%;
  width: 80%;
}

.albumShowMidRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  border-left: 1px solid #f0f0f0;
  margin: 0px 0px 40px 0px;
  // position: fixed;
  // height: 700px;
}

.albumShowLeftAndRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // margin-bottom: 100px;
}

.addComment {
  height: 43px;
  margin: 20px;
  // padding: 1px;
  max-width: 800px;
  background-color: #e6e6e6;
  // border: 1px solid  #c0bebe; 
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.addingComment {
  height: 70%;
  width: 100%;
  padding: 5px;
  margin: 10px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: .9em;
  color: #a89e9e;
}

.albumShowTracklist {
  margin: 20px 20px 100px 20px;
}

.albumShowTitle {
  // font-family: 'Lato', sans-serif;
  // font-weight: lighter;
  
  margin: 0px 0px 0px 10px;
}

.albumShowText {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 10px;
  color: rgb(109, 108, 108);
}

.albumShowMiniPic {
  width: 30px;
  height: 30px;
}

.albumSpread {
  color: rgb(87, 87, 87);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-play {
  font-size: 12px;
  color: rgb(196, 196, 196);
  margin: 0px 5px 0px 5px;
}

.albumShowMiniProfPic {
  padding: 5px;
  width: 34px;
  height: 34px;
  background: rgb(245, 245, 245);
  // border-left: 1px solid rgb(245, 245, 245);
}

.playCount {
  color: rgb(196, 196, 196); 
}

.albumShowTitleRightSide {
  display: flex;
  flex-direction: row;
}