/* font-family: 'Raleway', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

.webPage {
  display: flex;
  background: #f0f0f0;
  // height: 1400px;
  flex-direction: column;
  align-items: center;
  animation-name: defuzz;
  animation-duration: 1s;
}

.midPage {
  display: flex;
  width: 1240px;
  background: white;
  height:100%;
  flex-direction: column;
  align-items: center;
}

.head {
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 20px;
  display: inline-block;
  cursor:default;
  /* border-box; */
  justify-content: space-around;
  width: 100px;
  height: 70px;
}

.adjusting {
  margin-left: 40px;
  display: flex;
  width: 250;
  justify-content: space-between;
  height: 40px;
}

.slowcloud {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.5px; 
  font-size: 15px;
  color: rgba(255, 255, 255, 0.781);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoe {
  width: 55px;
  height: 38px;
  opacity: 85%;
  // margin: 15px;
}

.links {
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  width: 80px;
  height: 30px;
  font-size: 1em;
  margin: 20px 0px 0px 0px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(170, 170, 170, 0.7);
  color: white;
  border-radius: 4px;
  width: 150px;
  height: 31px;
  font-size: 1em;
  margin: 20px 30px 0px 10px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.greetingBar {
  display: flex;
  flex-direction: column;
  border-top: 5px solid rgb(175, 116, 202);
  width: 100%;
  min-width: 1080px;
  max-width: 100%;
  height: 450px;
  background-image: image_url("Loveless.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 80%;
  z-index: 0;
}

.topBar {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  background: white;
  height: 625px;
  align-items: center;
  justify-content: center;
  animation-name: slideDown;
  animation-duration: 1s;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 360px;
  padding: 20px;
  z-index: 11;
  height: 550px;
  border-radius: 5px;
  border: 1px solid rgba(199, 198, 198, 0.26);
}

// .form {
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   position: absolute;
//   top: 100px;
//   left: 50%;
//   margin-left: -220px;
//   width: 360px;
//   padding: 20px;
//   z-index: 11;
// }



.text {
  border: 1px solid #c8c8c8;
  width: 382.5px;
  height: 36px;
  border-radius: 4px;
  font-size: 1em;
  margin: 5px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(116, 116, 116);
  color: white;
  border: none;
  border-radius: 4px;
  width: 382.5px;
  height: 41px;
  font-size: 1em;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

}

label {
    letter-spacing: 0.05em;
    font-weight: lighter;
}

.preModal {
 /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
  background-color: rgba(255, 255, 255, 0.3);
  animation-name: fuzz;
  animation-duration: 1s;
}

@keyframes fuzz {
  from {
    background: rgba(0,0,0,0);
    }
  to {
    background: rgba(255, 255, 255, 0.3);
  }
}

@keyframes slideDown {
  from {
    transform: translate3d(0%, -150%, 0);
    visibility: visibility;
    }
  to {
    transform: translate3d(0%, 0%, 0)}
}

#demo {
  background-color: rgb(161, 106, 187);
  margin-bottom: 10px;
}

#switch {
  background-color: rgb(119, 78, 138);
  margin-bottom: 20px;
}

.or {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

hr {
    display: inline-block;
    width: 43%;
    border-top: 1px solid #333;
    content: " ";
    top: .5em;
}

.background {
  width: 100%;
  height: 100%;
  background-color: black;
}

.lower {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.midContent {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  top: 55%;
  /* transform: translate(-50%, -50%); */
}

.mainText {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 30px 0px;
  width: 80%;
  font-size: 13pt;
  /* font-weight: lighter; */
  line-height: 1.6;
  letter-spacing: 0.01em;
  font-family: 'Raleway', sans-serif;

}

.titleCard {
  color: white;
  font-size: 26pt;
  font-weight: lighter;
  letter-spacing: 0.03em;
}