.listed {
  display: flex;
  width: 100%;
  height: 150px;
  /* width: 1000px; */
  flex-direction: row;
  justify-content: space-around;
}

.song {
  display: flex;
  flex-direction: column;
  /* max-width: 100%; */
  height: 100%;
  min-width: 117.77px;
  width: 100%;
  min-height: 117.77px; 
  font-size: 13px;
  border: solid rgb(197, 197, 197) 1px;
  background: rgb(227, 198, 255);
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 27px;
  font-weight: lighter;
  margin-top: 20px;
}

.songBoundaries {
  max-height: 150px;
  max-width: 150px;
  margin: 10px;
}