.listed {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.song {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background: rgb(227, 198, 255)
}

.trendingRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}