.artistArt {
  border: solid rgb(167, 167, 167) 1px;
  height: 173px;
  width: 173px;
  border-radius: 50%;
}

.userShowBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
}

.userShowMid {
  min-height: 690px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 46px;
  margin-bottom: 50px;
}

.userBanner {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(243, 215, 255));
  display: flex;
  justify-content: flex-start;
}

.artistBannerPic {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.userAlbumList {
  display: flex;
  flex-direction: column;
  width:80%;
  align-items: flex-start;
  margin: 0px 0px 0px 0px;
  height:100%;
}

.userIndividualAlbum {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 25px 10px;
}

.artistMainArt {
  border: solid rgb(167, 167, 167) 1px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: -1px 1px 5px rgb(119, 119, 119);
}

.artistShowTitle {
  padding: 2px 2px 2px 2px;
  display: flex;
  align-items: center;
  font-size: 30px;
  // background-color: #464646;
  color: #464646;
  font-weight: bold;
  // color: white;
}

.artistShowTitleOuter {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 75px;
}

.showAlbumSeparator {
  width: 100%;
  display: flex;
  justify-content: center;
  margin:0px;
}

.showLine {
  width: 98%;
  border-top: 1px solid #f0f0f0;
  margin: 0px;
}

.showUserTitles {
  /* margin: 20px; */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(110, 110, 110);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-start; */
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  /* height: 300px; */
  font-size: 20pt;
  font-weight: lighter;
  /* line-height: 1.6; */
  letter-spacing: 0.03em;
  // margin: 0px 0px 0px 30px;
}

.showUserTitle { 
  font-size: 13pt;
  margin: 20px 0px 5px 0px;;
}

.showMidLower {
  width: 90%;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  min-height: 500px;
}

.showMidLeft {
  height:100%;
  width: 100%;
}

.showMidRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  border-left: 1px solid #f0f0f0;
  // height:100%;
}

.showMidRightCont {
  display: flex;
  flex-direction: column;
  margin: 25px;
  font-size: 15px;
  color: #cacaca;
}

.showMidRightNum {
  margin: 5px 0px 0px 0px;
  font-size: 20px;
}

.showLeftAndRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:100%;
}

.showTitleSpacing {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;

}

.showAlbumArtist {
  text-decoration: none;
  color: rgb(201, 200, 200);
  font-size: 13px;
  word-wrap: break-word;
  height: 20px;
}

.showAlbumTitle {
  text-decoration: none;
  // font-family: 'Source Sans Pro', sans-serif;
  color: rgb(97, 97, 97);
  font-size: 18px;
  height: 30px;
  cursor: pointer;
}

.showTitleAdjustments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.showJustTitles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#showPagePic {
  height: 158px;
  width: 158px;
}

.user-play {
  font-size: 40px;
  margin-right: 8px;
  text-shadow: -1px 1px 3px rgb(151, 151, 151);
}

.user-pause {
  font-size: 40px;
  margin-right: 8px;
  text-shadow: -1px 1px 3px rgb(151, 151, 151);
}

.waveForm {
  width: 95%;
  height: 130%;
  cursor: default;
}

.waveForm-opacity {
  width: 95%;
  height: 130%;
  opacity: 0.2;
  cursor: default;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.waveFormContainer {
  margin: 10px 0px 0px 10px;
  width: 90%;
}

.albumShowSong {
  border-bottom: 1px solid rgb(189, 189, 189);
  padding:10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.albumShowSong:hover {
  background-color: rgb(245, 245, 245);
}

.albumShowSongPlaying {
  background-color: rgb(245, 245, 245);
  color: #af74ca; 
}

.createAlbum {
  margin: 20px 0px 5px 20px;
}

input[type='file'] {
  color: transparent;
}

.changeProfilePicture {
  position: absolute;
  top: 235px;
  // left: 130px;
  // box-shadow: 1px 1px 5px grey;
  width: 75px;
}

.album-form {
  display: flex;
  flex-direction: column;
  background: white;
  height: 625px;
  align-items: center;
  justify-content: center;
  animation-name: slideDown;
  animation-duration: 1s;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -220px;
  width: 300px;
  padding: 20px;
  z-index: 11;
  height: 400px;
  border-radius: 5px;
  border: 1px solid rgba(199, 198, 198, 0.26);
}

.album-form-left {
  margin: 0 20px 0 0;
  
}
.album-form-right {
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;

}

.album-sub-box {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 10px 0px;
  width: 100%;
  height: 80%;
  border: 1px solid #f0f0f0;
  box-shadow: 1px 1px 3px rgb(240, 240, 240);
}

.create-album-title {
  color: rgb(114, 113, 113);
  font-size: 25px;
}

.album-form-lower  {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.album-create-submit {
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-color: rgb(175, 116, 202);
    color: white;
    border-radius: 4px;
    width: 260px;
    height: 30px;
    font-size: 1em;
    // margin: 10px 20px 10px 0px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.album-create-pic {
  margin: 20px 0 20px 0;
  // margin: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 260px;
  width: 260px;
  background: #ebe9e9;
  border-bottom: 1px solid #f0f0f0;
}

.album-preview {
  height: 260px;
  width: 260px;
  background: #ebe9e9;
  border-bottom: 1px solid #f0f0f0;
}

.create-album-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-color: rgb(255, 255, 255);
  color: rgb(102, 102, 102);
  border-radius: 4px;
  width: 160px;
  height: 25px;
  font-size: 15px;
  // margin: 10px 20px 10px 0px;
  text-decoration: none;
  text-align: center;
  border: 1px solid rgb(187, 187, 187);
  vertical-align: middle;
  margin: 15px 0px 10px 0px;
  cursor: pointer;
}

.empty-user-show-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px 20px 0 0;
  color: #b4b4b4;
  font-size: 13px;
}

.upload-song-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-color: rgb(255, 255, 255);
  color: rgb(102, 102, 102);
  border-radius: 4px;
  width: 90px;
  height: 17px;
  font-size: 13px;
  // margin: 10px 20px 10px 0px;
  text-decoration: none;
  text-align: center;
  border: 1px solid rgb(187, 187, 187);
  vertical-align: middle;
  margin: 5px 0px 10px 0px;
}